.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 30vw;
    height: 20vh;
    text-align: center;
}

.form-div {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    margin: 5%;
}